# System Files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Arduino & PlatformIO Build Artifacts
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
libdeps/
**/build/
**/bin/
**/out/
*.hex
*.elf
*.bin

# Local Database Files
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
